html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	font-family: 'SFProDisplay-Regular', sans-serif;
	color: #2F3035;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	overflow-x: hidden;
	min-width: 320px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	margin-bottom: 80px;
}

/* Header-top */

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
}

.menu__item {
	display: inline-block;
}

.menu__item+.menu__item {
	padding-left: 50px;
}

.header__box {
	display: flex;
}

.menu__btn {
	display: none;
}

.menu-mobile__list {
	width: 245px;
	position: absolute;
	z-index: 10;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	transform: translateX(-100%);
	transition: all .3s;
}

.menu-mobile__list--active {
	transform: translateX(0);
}

.menu-mobile__item {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	;
}

.menu-mobile__link {
	display: block;
	padding-left: 53px;
	padding-top: 35px;
}

.menu-mobile__img {
	position: absolute;
	left: 11px;
	bottom: 0;
}

.menu__list-mobilewrapper {
	display: none;
	text-align: center;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	background-color: #F0F0F4;
	padding: 15px 10px;
	overflow-x: scroll;
}

.menu__list-mobile {
	width: 450px;
}

.header__adress {
	width: 265px;
	margin-right: 60px;
	padding-left: 30px;
	position: relative;
}

.header__adress::before {
	content: '';
	position: absolute;
	background-image: url(../images/adress-icon.svg);
	background-repeat: no-repeat;
	width: 300px;
	height: 30px;
	left: 0;
	top: -10px;
}

.user__list {
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.user__item {
	padding-right: 10px;
}

.basket {
	position: relative;
}

.basket__num {
	position: absolute;
	right: -13px;
	bottom: -2px;
	height: 20px;
	width: 20px;
	font-family: 'SFProDisplay-Medium', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	background-color: #1C62CD;
	color: #fff;
	border-radius: 50%;
}

/* Header-bottom */

.header__bottom {
	margin-bottom: 78px;
}

.header__bottom-inner {
	background-color: #F0F0F4;
}

.menu-categories {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #F0F0F4;
	min-height: 53px;
}

.menu-categories__item {
	/* position: relative; */
}

.menu-categories__link {
	position: relative;
	padding: 15px 0 14px;
	transition: all .3s ease;
}

.menu-categories__link::after {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	left: auto;
	right: 0;
	bottom: -2px;
	background-color: #1C62CD;
	transition: all .3s ease;
}

.menu-categories__link:hover::after {
	width: 100%;
	left: 0;
	right: auto;
}

.menu-categories__link:focus {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
}

/* Bunner-slider */

.bunner-section__inner {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.bunner-section__slider {
	max-width: 870px;
}

.slider-item__img {
	max-height: 400px;
	object-fit: cover;
}

.bunner-section__btn,
.product-slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	cursor: pointer;
}

.bunner-section__btn.btn-prev {
	left: 20px;
}

.bunner-section__btn.btn-next {
	right: 20px;
}

.slick-dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	width: 11px;
	height: 11px;
	font-size: 0;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 0;
	margin: 0;
}

li.slick-active button {
	background-color: #fff;
}

/* Sale */

.sale-item {
	max-width: 265px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sale-item__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sale-item__label {
	background-color: #1C62CD;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 8px 20px;
}

.sale-item__price {
	text-align: right;
}

.price {
	font-family: 'Barlow', sans-serif;
	position: relative;
}

.price-new {
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	color: #1C62CD;
	padding-right: 20px;
	margin-right: 12px;
}

.price-new::after {
	content: '';
	width: 16px;
	height: 18px;
	position: absolute;
	top: 8px;
	right: 0;
	background-image: url(../images/icon-price.svg);
}

.price-old {
	display: inline-block;
	font-weight: 400;
	color: #C4C4C4;
	margin-right: 17px;
	background-image: url(../images/price-old-line.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2px 5px;
}

.price-old::after {
	content: '';
	width: 8px;
	height: 10px;
	position: absolute;
	top: 12px;
	right: -10px;
	background-image: url(../images/icon-price-old.svg);
}

.sale-item__img {
	max-height: 175px;
	object-fit: contain;
}

.sale-item__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 7px;
}

.sale-item__info {
	background-color: #F0F0F4;
	padding: 25px 20px;
	font-size: 18px;
	line-height: 21px;
}

.sale-item__info span {
	display: block;
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #1C62CD;
}

.sale-item__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 7px;
}

.search__tabs {
	margin-bottom: 25px;
}

.search__tabs-item {
	padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
	font-family: 'SFProDisplay-Bold', sans-serif;
	border-radius: 5px;
	background-color: #F0F0F4;
	font-weight: 700;
}

.tab-content {
	display: none;
}

.tab-content.tab-content--active {
	display: block;
}

/* Search */

.search__content-form {
	display: flex;
}

.search__content-btn {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #fff;
	background: #1C62CD;
	border-radius: 3px;
	border: none;
	padding: 17px 42px;
	margin-left: -3px;
}

.search__content-input {
	width: 100%;
	font-size: 16px;
	line-height: 19px;
	background: #F0F0F4;
	border-radius: 3px;
	border: none;
	padding: 15px 20px;
	outline: 0;
}

.search__content-input::placeholder {
	color: #656464;
}

/* Categories */

.categories__inner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.categories__item {
	display: flex;
	justify-content: space-between;
	width: 370px;
	max-width: 100%;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	padding: 20px 20px 15px 20px;
	/* margin-bottom: 30px; */
	transition: all .3s ease;
}

.categories__item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	transform: scale(1.025);
}

.categories__item:hover .categories__item-title {
	color: #1C62CD;
}

.categories__item-info,
.categories__item-img {
	width: 50%;
}

.categories__item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories__item-img {
	text-align: center;
}

.categories__item-img img {
	max-width: 100%;
}

.categories__item-title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	transition: all .3s ease;
}

.categories__item-text {
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}

.categories__item-text::after {
	content: url(../images/link-arrow.svg);
	padding-left: 3px;
}

/* Products */

.products {
	margin-bottom: 80px;
}

.products__title {
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 25px;
}

.tabs-wrapper {
	margin-bottom: 50px;
}

.products__tabs {
	margin-bottom: 25px;
}

.products__content {
	margin-bottom: 20px;
	/* display: flex; */
}

.products__tab+.products__tab {
	margin-left: 50px;
}

.products__tab {
	padding-bottom: 10px;
}

.products__tab.tab--active {
	border-bottom: 2px solid #1C62CD;
}

/* product-slider */

.product-slider__btn.btn-prev {
	left: -40px;
}

.product-slider__btn.btn-next {
	right: -40px;
}

.product-slider .slick-dots {
	bottom: -30px;
}

.product-slider .slick-dots button {
	background-color: #C4C4C4;
}
.product-slider .slick-dots .slick-active button {
	background-color: #1C62CD;
}

.product-item__wrapper {
	width: 270px;
	position: relative;
	transition: all .3s;
}

.product-item__wrapper.product-item__wrapper--list {
	width: 100%;
}

.product-item {
	min-height: 410px;
	width: 100%;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	text-align: center;
	padding: 50px 20px 30px;
	transition: all .3s;
}

.product-item img {
	max-width: 100%;
}

.product-item__basket {
	width: 60px;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #1C62CD;
	border-radius: 10px 0 0 0;
	border: none;
	padding-top: 7px;
	cursor: pointer;
}

.slick-slide img {
	display: inline-block;
}

.product-item__favorite {
	width: 24px;
	height: 22px;
	position: absolute;
	top: 16px;
	right: 19px;
	z-index: 5;
	background-color: transparent;
	border: none;
}

.product-item__favorite::before {
	content: '';
	width: 24px;
	height: 22px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/favorite.svg);
}

.product-item__favorite--active::before {
	background-image: url(../images/favorite-active.svg);
}

.product-item__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	padding: 15px 0 25px;
}

.product-item__price {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.product-item__hover-text {
	display: inline-block;
	background-color: rgba(255, 255, 255, .9);
	color: #2F3035;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	position: absolute;
	top: 30%;
	opacity: 0;
	padding: 18px 21px;
	transition: opacity .3s ease;
}

.product-item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	color: #1C62CD;
}

.product-item:hover .product-item__hover-text {
	opacity: 1;
}

.product-item:hover .product-item__notify-text {
	color: #2F3035;
}

.product-item--sale::before {
	content: 'SALE';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1C62CD;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	padding: 8px 15px;
}

.product-item__notify-text {
	display: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 15px;
}

.product-item__wrapper.product-item__not-available .product-item__price {
	display: none;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
	display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
	display: block;
}

.product-item__notify-link {
	display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
	display: inline-block;
	width: 190px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	line-height: 19px;
	color: #1C62CD;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #1C62CD;
}

.product__more {
	text-align: center;
	margin: 35px 80px 0;
}

.product__more-link {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	background: #F0F0F4;
	padding: 16px 43px;
}

.banner {
	margin-bottom: 70px;
}

/* Footer */

.footer {
	background-color: #F0F0F4;
}

.footer__bottom {
	display: flex;
	justify-content: center;
	padding: 46px 0 22px;
}

.footer__bottom-link {
	font-size: 10px;
	line-height: 12px;
	color: #48494D;
	margin: 0 40px;
}

.footer__top {
	padding-top: 43px;
}

.footer__top-inner {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

.footer__top-mail {
	max-width: 295px;
	/* margin-right: 100px; */
}

.footer__top-links {
	max-width: 150px;
}

.footer__top-social {
	max-width: 250px;
}

.footer__top-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
}

.footer__drop-title{
	pointer-events: none;
}

.footer-form {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}

.footer-form__input {
	max-width: 185px;
	background-color: #fff;
	border: none;
	padding: 5px 12px 8px;
}

.footer-form__input::placeholder {
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}

.footer-form__btn {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #fff;
	background-color: #1C62CD;
	;
	border: none;
	padding: 10px 16px;
}

.footer-list {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.social-list {
	height: 100%;
	display: flex;
	align-items: center;
}

.social-list__item+.social-list__item {
	margin-left: 30px;
}

/* Breadcrumbs */

.breadcrumbs {
	margin-bottom: 40px;
}

.breadcrumbs__list {}

.breadcrumbs__list-item {
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	color: #C4C4C4;
	padding-right: 16px;
	margin-right: 10px;
	position: relative;
}

.breadcrumbs__list-item::after {
	content: '';
	width: 6px;
	height: 9px;
	position: absolute;
	right: 0;
	bottom: 4px;
	background-image: url('../images/link-arrow.svg');
}

.breadcrumbs__list-item:last-child::after {
	display: none;
}

/* Catalog */

.catalog {
	margin-bottom: 100px;
}

.catalog__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 26px;
}

/* filter */

.catalog__filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.catalog__filter-items button {
	font-size: 14px;
	line-height: 17px;
	opacity: 0.7;
	background: #F0F0F4;
	border-radius: 3px;
	border: none;
	padding: 5px 22px;
	cursor: pointer;
}

.catalog__filter-items button+button {
	margin-left: 8px;
}

.catalog__filter-select {
	display: flex;
	align-items: center;
}

.catalog__filter-select button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.catalog__filter-select button+button {
	margin-left: 10px;
}

.catalog__filter-btngrid,
.catalog__filter-btnlist {
	width: 26px;
	height: 21px;
	/* opacity: .3; */
}

.catalog__filter-button {
	opacity: .3;
}

.catalog__filter-button--active {
	opacity: 1;
}

.filter-style {}

.select-item {
	border: 1px solid #D7D9DF;
	font-size: 14px;
	line-height: 17px;
	margin-right: 34px;
	padding: 4px 10px 7px 20px;
}

/* catalog-inner */

.catalog__inner {
	display: flex;
	/* gap: 20px; */
}

.aside__btn{
	display: none;
}

/* aside */

.catalog__inner-aside {
	min-width: 290px;
	margin-right: 10px;
}


.aside-filter__tabs {
	display: flex;
	justify-content: space-between;
}

.aside-filter__tab {
	width: 50%;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #C4C4C4;
}

.aside-filter__tab.tab--active {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	color: #2F3035;
}

.aside-filter__tab.tab--active span {
	display: inline-block;
	border-bottom: 2px solid #1C62CD;
	padding-bottom: 7px;
}

.aside-filter__item-drop {
	margin: 40px 0;
}

.aside-filter__item-title {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding-left: 26px;
	margin-bottom: 15px;
}

/* dropdown */
.item-drop__title {
	position: relative;
	cursor: pointer;
}

.item-drop__title::before {
	content: '';
	background-image: url('../images/arrow-down.svg');
	width: 12px;
	height: 8px;
	position: absolute;
	left: 0;
	top: 3px;
}

.item-drop__title--active::before {
	transform: rotate(180deg);
}

.aside-filter__content {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 30px;
}

.aside-filter__content.aside-filter__content-radio {
	flex-wrap: nowrap;
}

.aside-filter__content-box {
	width: 50%;
	margin-bottom: 10px;
}

.aside-filter__content-label {
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

/* checkbox */
.jq-checkbox, .jq-radio {
	background: #fff;
	width: 14px;
	height: 14px;
	border: 1px solid #c4c4c4;
	border-radius: 1px;
	box-shadow: none;
	/* vertical-align: text-top; */
	margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
	background: #1C62CD;
	border: none;
}

.jq-checkbox.checked, .jq-radio.checked {
	width: 14px;
	height: 14px;
	background-image: url('../images/checked-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(0);
}

.jq-radio.checked .jq-radio__div {
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}

/* range-slider */
.irs--flat {
	width: 100%;
	margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
	top: 55px;
	padding-left: 27px;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	line-height: 17px;
	text-decoration: underline;
	text-shadow: none;
	color: #2F3035;
	background-color: transparent;
	border-radius: 0;
	visibility: visible !important;
}

.irs-min::before,
.irs-max::before {
	position: absolute;
	left: 0;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #C4C4C4;
}

.irs-min::before {
	content: 'от';
}

.irs-max::before {
	content: 'до';
}

.irs--flat .irs-line {
	top: 25px;
	height: 1px;
	background-color: #E0E0E0;
	border-radius: 0;
}

.irs--flat .irs-bar {
	top: 25px;
	height: 3px;
	background-color: #1C62CD;
}

.irs--flat .irs-handle {
	width: 8px;
	height: 8px;
	background-color: #1C62CD;
	border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
	background-color: transparent;
}

.aside-filter__item-list {
	margin: 46px 0 40px;
}

.filter__item-list {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #C4C4C4;
	padding-top: 34px;
}

.item-list__title {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.filter__item-select {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.jq-selectbox__select {
	height: 22px;
	font-size: 14px;
	line-height: 17px;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	padding: 5px 30px 0 10px;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border: none;
}

.jq-selectbox__trigger {
	background-image: url(../images/arrow-down.svg);
	width: 12px;
	height: 8px;
	top: 10px;
	right: 5px;
	border-left: none;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
	background: transparent;
	box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}

.filter-more {
	width: 100%;
}

.filter-more__btn {
	font-size: 14px;
	line-height: 17px;
	color: #1C62CD;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #1C62CD;
	padding: 0;
}

/* filter-search */
.filter-search {
	width: 291px;
	height: 30px;
	border: 1px solid #E0E0E0;
	padding: 0 20px;
	margin: 10px 0 20px;
}

.filter-search::placeholder {
	font-size: 12px;
	line-height: 14px;
	color: #BDBEC2;
}

/* check-box text */
.checkbox-btn .aside-filter__content {
	flex-wrap: nowrap;
}

.checkbox-btn .aside-filter__content-box {
	width: auto;
}

.checkbox-btn .aside-filter__content-label {
	height: 25px;
	max-width: 60px;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	color: #C4C4C4;
	position: relative;
}

.checkbox-btn .jq-checkbox {
	height: 25px;
	min-width: 60px;
	background: #F0F0F4;
	border: none;
}

.checkbox-btn .jq-checkbox.checked {
	background: #1C62CD;
	color: #fff;
}

.checkbox-btn .jq-checkbox.checked~.checkbox-btn__text {
	color: #fff;
}

.jq-checkbox.checked .jq-checkbox__div {
	display: none;
}

.checkbox-btn__text {
	position: absolute;
	top: 7px;
	left: 50%;
	transform: translateX(-60%);
	z-index: 5;
}

.aside-filter__item-buttons {
	text-align: center;
}

.filter-btn__send {
	background-color: #F0F0F4;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #BDBEC2;
	border: none;
	padding: 17px 85px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all .2s ease-in;
}

.filter-btn__send--active,
.filter-btn__send:hover {
	background-color: #1C62CD;
	color: #fff;
}

/* more-parameters */
.filter-moreparams {
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	padding-right: 29px;
	margin-bottom: 15px;
}

.filter-moreparams::after {
	content: '';
	position: absolute;
	top: 5px;
	right: 0;
	width: 12px;
	height: 8px;
	background-image: url('../images/arrow-down.svg');
}

.filter-moreparams.item-drop__title--active::after {
	transform: rotate(180deg);
}

.filter-moreparams__content {
	display: none;
	margin-bottom: 15px;
	text-align: left;
}

.filter-moreparams__content li {
	list-style: decimal;
}

.filter-btn__reset {
	background-color: transparent;
	border: none;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #C4C4C4;
	padding: 0;
}

/* catalog-list */

.catalog__inner-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px; */
}

.catalog__inner-list .product-item__wrapper {
	margin-bottom: 30px;
}

/* pagination */

.pagination {
	width: 100%;
	margin-top: 70px;
}

.pagination-list {
	display: flex;
	justify-content: center;
}

.pagination-list__item {
	font-size: 18px;
	line-height: 22px;
	color: #C4C4C4;
	border: 2px solid transparent;
	padding: 6px 12px;
	margin: 0 4px;
}

.pagination-list__item.active {
	border-color: #1C62CD;
	color: #1C62CD;
	padding: 8px 15px;
}

.pagination-list__item a {
	display: block;
}

/* Product-card */

.product-card {
	margin-bottom: 80px;
}

.product-card__inner {
	display: flex;
	justify-content: space-between;
}

.product-card__img-box {
	width: 500px;
	padding-top: 65px;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	position: relative;
}

.product-card__img-box::before {
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: 1.8px;
	border-radius: 3px;
	padding: 13px 25px;
}

.product-card__img {}

.product-card__price-old {
	display: inline-block;
	opacity: 0.6;
	color: #000;
	font-size: 30px;
	font-weight: 300;
	line-height: .9;
	background-image: url('../images/old-line.svg');
	background-repeat: no-repeat;

}

.product-card__price-new {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 17px;
}

.product-card__link {
	color: #1C62CD;
	font-size: 15px;
	line-height: 1.2;
	border-bottom: 1px solid #1C62CD;
}

.product-card__btn--mobile {
	display: none;
}

.product-card__content {
	width: 570px;
}

.product-card__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}

.product-card__code {
	font-size: 15px;
	line-height: 1.2;
	color: #2F3035;
	opacity: 0.6;
	margin-bottom: 22px;
}

.product-card__markers {
	margin-bottom: 50px;
}

.product-card__markers a+a {
	margin-left: 30px;
}

.product-card__tab {
	color: #2F3035;
	font-size: 20px;
	opacity: 0.6;
	line-height: 1.2;
	padding-bottom: 5px;
	padding-right: 15px;
	margin-bottom: 5px;
}

.product-card__tab+.product-card__tab {
	padding-left: 19px;
}

.product-card__tab.tab--active {
	color: #2F3035;
	opacity: 1;
	font-weight: 700;
	border-bottom: 2px solid #1C62CD;
}

/* product-card__list */
.product-card__list {
	margin-bottom: 20px;
}

.product-card__item {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 1.2;
	text-align: left;
	border-bottom: 1px solid rgba(47, 48, 53, .1);
	padding: 15px 0 6px;
}

.product-card__item-left {
	padding-right: 15px;
}

.product-card__item-right {
	width: 125px;
}

.product-card__more {
	color: #1C62CD;
	font-size: 14px;
	line-height: 1.2;
	border-bottom: 1px solid #1C62CD;
	margin-bottom: 45px;
}

.product-card__btn button {
	color: #FFF;
	border-radius: 3px;
	border: none;
	background-color: #1C62CD;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1.68px;
	text-transform: uppercase;
	padding: 16px 53px;
	cursor: pointer;
}


/* Card-tabs */

.card__tabs {}

.tabs {}

.card__tabs-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #F0F0F4;
	padding: 22px 0;
	margin-bottom: 50px;
}

.tab {}

.card__tab {
	color: #2F3035;
	opacity: 0.6;
	font-size: 20px;
	line-height: 1.2;
	padding-bottom: 5px;
}

.card__tab.tab--active {
	opacity: 1;
	border-bottom: 2px solid #1C62CD;
}

.tab-container {}

/* .card__tab-content {
	display: none;
}

.tab-content--active {
	display: block;
} */

.card__tab-form {
	margin-bottom: 30px;
}

.card__label-search {
	color: rgba(47, 48, 53, .7);
	font-size: 17px;
	line-height: 1.2;
}

.card__input-search {
	border-radius: 3px;
	border: none;
	background: #F0F0F4;
	margin-left: 17px;
	margin-right: 100px;
	padding: 9px 37px 9px 17px;
}

.card__label-checkbox {
	margin-left: 55px;
	color: rgba(47, 48, 53, .7);
	font-size: 17px;
	line-height: 1.2;
}

.card__list {}

.card__list-item {
	color: rgba(47, 48, 53, .7);
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	border-bottom: 1px solid rgba(47, 48, 53, .1);
	padding: 20px 0;
}

.list-item--title {
	color: rgb(47, 48, 53);
	font-size: 20px;
	line-height: 1.2;
}

.card__list-address {
	width: 220px;
	margin-right: 80px;
}

.card__list-title {}

.card__list-workhours {
	display: flex;
	justify-content: center;
	column-gap: 25px;

	width: 165px;
	margin-right: 80px;
}

.card__list-workhours span {
	display: block;
}

.day {
	text-align: left;
}

.time {
	text-align: right;
}

.card__list-avialable {
	width: 140px;
	margin-right: 60px;
}

.card__list-num {
	width: 105px;
}

.card__list-btn {
	margin-left: auto;
}

.card__list-btn button {
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: 1.56px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	background-color: #1C62CD;
	border-radius: 3px;
	border: none;
	padding: 10px 40px;
	cursor: pointer;
}




/* Table */
/* .card__list {
	font-size: 18px;
	text-align: left;
}

.card__list-item {}

.card__list-title,
.card__list-text {
	border-bottom: 1px solid rgba(47, 48, 53, .1);
} */